{% extends "base.html" %}
{% block title %}Moderate posts{% endblock %}
{% block content %}


    <table class="zebra-striped">
        <thead>
            <tr>

                <th>Post</th>
                <th>Author</th>
                <th>Publish</th>
            </tr>

        </thead>
        <tbody>
    {% for post, signature_time in posts %}
        <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            <td><a href="{{ post.author.url }}">{{ post.author.name }}</a></td>
            <td>
                <a href="/admin/signature_toggle/{{ post.signature }}"
                        class="
                        btn
                        {% if signature_time %}
                        primary
                        {% else %}

                        {% endif %}
                        "
                        >
                    {% if signature_time %}
                    Published {{ signature_time }}
                    {% else %}
                    Publish
                    {% endif %}
                </a>

            </td>
        </tr>


    {% endfor %}
        </tbody>

    </table>
{% endblock %}