{% extends "base.html" %}
{% block title %}Tags{% endblock %}
{% block content %}
<table class="zebra-striped">
    <thead>
    <tr>

        <th>Tag name</th>
        <th>Enabled</th>
    </tr>

    </thead>
    <tbody>
    {% for tag in tags_available %}
        <tr>
            <td>{{ tag }}</td>
            <td>
                <a href="/admin/tag_toggle/{{ tag }}" class="btn
                    {% if tag in tags_enabled %}
                    primary
                    {% else %}

                    {% endif %}"></a>
                </a>
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>
{% endblock %}